.lg_div_bg {
    background-color: #362752 !important;
    border-radius: 100%;
}

.form-group {
    text-align: center;
    margin-top: 20px;
}

#tour_image {
    display: none;
}

.preview-image-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    color: #ff0000;
    /* Red color for close button */
    cursor: pointer;
}

#tour_photos {
    display: none !important;
}

#category_photos {
    display: none !important;
}

#tarvel_mate_image {
    display: none !important;
}

#uploadButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

#uploadButton:hover {
    background-color: #45a049;
}

#preview_tour_image {
    /* max-width: 300px; */
    max-height: 300px;
    margin-top: 20px;
    display: none;
}